// src/pages/Rubric/StudentList/StudentList.module.scss
@import "../../../styles/variables";

.studentListContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: 0 $spacing-md;
  background-color: lighten($secondary-color, 3%);
  border-left: 1px solid $border-color;
  max-height: 460px;
}

.title {
  font-size: $font-size-large;
  color: $primary-color;
  margin-top: $spacing-sm;
  padding-bottom: $spacing-sm;
  border-bottom: 1px solid $border-color;
  flex-shrink: 0;
}

.gradingStudentInfo {
  font-size: $font-size-base;
  color: lighten($text-color, 30%);
  margin-top: -$spacing-xs;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.gradePill {
  font-weight: $font-weight-bold;
  color: $primary-color;
  background-color: lighten($secondary-color, 3%);
  padding: 2px $spacing-sm;
  border-radius: 12px;
  border: 1px solid $primary-color;
}

.assignedList {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

.studentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-xs $spacing-sm;
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  font-size: $font-size-base;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &.selected {
    background-color: $secondary-color;
    border: 1px solid $primary-color;
  }
}

.studentName {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.studentGrade {
  margin: 0 $spacing-sm;
  font-weight: $font-weight-bold;
  color: $primary-color;
  flex-shrink: 0;
  min-width: 60px; // Ensures consistent width
  text-align: center; // Aligns the text
}

.removeButton {
  background: transparent;
  border: none;
  color: $error-color;
  font-size: $font-size-large;
  cursor: pointer;
  padding: 0 $spacing-xs;
  flex-shrink: 0;

  &:hover {
    color: darken($error-color, 15%);
  }
}

.noStudentsMessage {
  font-size: $font-size-base;
  color: lighten($text-color, 40%);
  text-align: center;
  padding: $spacing-md 0;
}